@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-text-white: #f4f1ec;
    --color-text-black: #13100b;
    --color-background-white: #d4d4d3;
    --color-background-black: #2c2c2b;

    --color-primary-black: #d4bea1;
    --color-secondary-black: #f49106;
    --color-accent-black: #f4991a;
    --color-primary-white: #5e482b;
    --color-secondary-white: #f9960b;
    --color-accent-white: #e58a0b;
}