@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    /* dark mode */
    --color-text-white: #f4eff6;
    --color-background-black: #09060a;
    --color-primary-black: #d6a1de;
    --color-secondary-black: #510859;
    --color-accent-black: #39f381;

    /* light mode */
    --color-text-black: #0e0910;
    --color-background-white: #f8f5f9;
    --color-primary-white: #56215e;
    --color-secondary-white: #efa6f7;
    --color-accent-white: #0cc653;
}